* {
  font-family: Tahoma, sans-serif;
}

h2 {
  font-size: 20px;
}
h3 {
  font-size: 17px;
  color: #999;
  font-weight: normal;
}

.container {
  display: flex;
  gap: 30px;
  justify-items: flex-start;
  flex-wrap:wrap;
}

.friend {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  
}
p:first-of-type {
  font-size: 18px;
  font-weight: bold;
}

.sub {
  font-size: 17px;
  color: #666;
}

p:last-of-type::after {
  /*  border-bottom: #ddd 1px solid;*/
  content: "";
  display: block;

  background-color: #ddd;
  height: 0.5px;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
}

/*
.friend-ex .naam::after {
  content: "";
  display:inline-block;
  width: 40px;
  height: 40px;
  margin-right:0;
  margin-left:10px;
 
  background-color: teal;
}

.friend-new .naam::after {
  content: "";
  display:inline-block;
  width: 40px;
  height: 40px;
  margin-right:0;
  margin-left:10px;
  background-color: mediumaquamarine;
}
*/
p {
  font-size: 14px;
  color: #333;
}

.approve {
  background-color: #fff;
  color: rgb(133, 221, 0);
  border-top: rgb(133, 221, 0) 2px solid;
  border-left: rgb(133, 221, 0) 2px solid;
  border-bottom: rgb(133, 221, 0) 2px solid;
  border-right: #fff;
  border-radius: 4px 0px 0px 4px;
  padding: 5px;
  width: 50%;
}

.approve:hover {
  background-color: rgb(133, 221, 0);
  color: #fff;
}

.decline {
  background-color: #fff;
  color: red;
  border: red 2px solid;
  border-radius: 0px 4px 4px 0px;

  padding: 5px;
  width: 50%;
}

.decline:hover {
  background-color: red;
  color: #fff;
}
