body {
  color: darkslategray;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  background-color: #dedede;
}
header {
  border: 5px darkslateblue solid;
  margin: 20px 5px;
  padding: 0 10px;
}

nav ul {
  margin-top: 15px;
  padding: 10px;
  list-style-type: none;
  background-color: darkseagreen;
}

nav ul li {
  display: inline;
  background-color: rgb(162, 212, 162);
  padding: 3px;
}

main {
  border: 3px slateblue solid;
  margin: 5px;
  padding: 5px 10px 15px 10px;
}

footer {
  background-color: #919191;
  color: white;
  font-size: small;
  padding: 20px 5px;
  width: 70%;
  margin: 20px auto;
}

h2 {
  font-family: Tahoma, Helvetica, sans-serif;
  color: #cc0000;
  font-size: 1rem;
}

ul > li {
  color: green;
  list-style-type: square;
}

a {
  font-size: 0.8em;
  color: darkred;
}

figure > img {
  max-width: 200px;
}
figcaption {
  font-style: italic;
  font-size: smaller;
}
