.make-red {
  background-color: red;
}

.make-orange {
  background-color: orange;
}

.make-green {
  background-color: green;
}

.make-purple {
  background-color: purple;
}

.make-grey {
  background-color: grey;
}
